.bannerDiv {
  width: 100%;
  min-height: 100vh;
}
.spanDiv {
  width: 100%;
  height: 50%;
  text-align: center;
}
.TitleText {
  width: 100%;
  height: 70%;
  margin-top: auto;

  font-size: 60px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(35, 35, 35);
}
.SubTitleText {
  width: 100%;
  height: 20%;
  margin: 0px;

  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(35, 35, 35);
}
.moreInformationButtonDiv {
  text-align: center;
}
.moreInformationButton {
  margin: auto;
  padding: 0;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  border: none;
  font-weight: 500;
  background-color: transparent;
  text-decoration: underline;
}
